body{
    font-family: 'Indie Flower', cursive;
font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size: 55px;
    color: #575757;
    margin: 0;
}
p{
    color: #828282;
    margin-bottom: 30px;
}

.orange-btn{
    background: linear-gradient(to left, orange, tomato);
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
   
}

#orange-color{
    color: rgb(241, 159, 5);
}
.flexble-container{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
    margin-top: 50px;
    height: 50%;
    
}

.about-section{
    background-image: url(/images/shapes/7.png);
    
}
.about-section img{
    
}
 
.recipy-cart{
    width: 90%;
    margin: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.box-shadow{
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 15px;
}

.cart-detail{
    text-align: center;
}

.followers-section{
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    margin: 150px 150px 50px 150px;
    padding: 50px;
}

.follower{
    padding: 50px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer h3{
    color: rgb(146, 97, 6);
    
    
}
#eat{
color: orange;
}